
@{
    ViewData["Title"] = "Successful";
}

<div class="card border">
    <div class="card-body">
        <h2 class="mt-3 mb-2">Order Placed Successfully.Thanks for shopping</h2>
    </div>
    <div class="card-footer">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-dark">
            Back To Home
        </a>
    </div>
</div>

